/*

_base.scss

Add styles applied to elements without styles. This file takes care of the
parts that _reset.scss just can't, because it's not its purpose.

You can add here styles for textarea, input, headings, labels, among others.

*/

html,
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

// Very important if you're starting a project from start.
// Otherwise, add this property when necessary.
*,
*::before,
*::after {
  box-sizing: inherit;
}
