/*

_common.scss

Add here styles that are applied to different components. This part could be in a folder if you want
to structure it better, for example, let's say we have this:

- Grid classes (.row, .container, .col-xx-xx, ...)
- Form element styles.
- Buttons.
- Helpers with specific purposes (.hidden-xx, .text-left, .text-right, .text-center, ...)
- Among others...

In this case, you can add another folder with all the files you need, but those still don't belong to any
module/component.

*/

.container {
  max-width: 1024px;
  padding: 0 20px;
  margin: 0 auto;

  @include from(md) {
    padding: 0 30px;
  }
}
